{% assign categories = (site.my_categories | where_exp: "category", "page.categories contains category.slug" | sort: 'slug') %}
{% assign category_content = '' %}
{% for category in categories %}
    {% capture category_content %}{% if category_content != '' %}{{category_content}}, {% endif %}<a class="label" href="{{root_url}}/categories/{{ category.slug }}">{{ category.title }}</a>{% endcapture %}
{% endfor %}
{% if category_content != '' %}
<span class="categories">{{ category_content }}</span>
{% else %} 
<span class="categories">uncategorised</span>
{% endif %}
